.jumbotron {
  color: white;
  background-color: #005DA5;
}

a{
  color: #004172;
}

input.form-control, .btn{
  border-radius: 0px;
}

.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
  border-radius: 0px;
}

#search-btn{
  border-left: white;
}
